* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: cursive;
  font-size: 14px;
}

body {
  background-color: #0f0e17;
}

main {
  width: 88%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 30px 60px;
}

h1 {
  margin: 20px 0;
  color: magenta;
  font-weight: bold;
}

section {
  margin-top: 50px;
}
.col {
  width: calc(100% / 3);
  float: left;
}
.name-card {
  background-color: #0f0e17;
  color: white;
  text-align: left;
  margin: 25px;
  height: 100px;
  box-shadow: 0 3px 10px rgb(44, 44, 44);
}
img {
  float: left;
  height: 100%;
  width: 35%;
  margin-right: 20px;
}

.about {
  display: inline-block;
  padding-top: 10px;
  line-height: 1.8;
}

.email {
  color: #00bdf3;
}

.clearfix ::after {
  content: "";
  display: table;
  clear: both;
}
