* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: cursive;
  font-size: 14px;
}

body {
  background-color: #0f0e17;
}

main {
  width: 85%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 30px 60px;
}

h1 {
  margin: 20px 0;
  color: magenta;
  font-weight: bold;
}
